.label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  width: 280px;
  font-size: 16px;
  font-weight: 700;
  border-color: #b0c0c3;
}

.input {
  width: 160px;
  outline: none;
  border: solid 1px #b0c0c3;
  border-radius: 2px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: 700;
}
